{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "no-loops",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb-base",
    "prettier"
  ],
  "rules": {
    "no-console": [1, { "allow": ["info","warn", "error"] }],
    "no-loops/no-loops": 1,
    "prettier/prettier": 2,
    "no-underscore-dangle": [0, { "allow": ["_place"] }],
    "no-useless-constructor": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-inferrable-types": 0,
    "@typescript-eslint/typedef": [
      1,
      {
        "arrayDestructuring": true,
        "arrowParameter": false,
        "memberVariableDeclaration": true,
        "objectDestructuring": false,
        "parameter": true,
        "propertyDeclaration": true,
        "variableDeclaration": false,
        "variableDeclarationIgnoreFunction": false
      }
    ],
    "import/extensions": [
      1,
      {
        "js": "always"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}